repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        files: ^api/

  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        files: ^api/

  - repo: local
    hooks:
      - id: web-format
        name: web-format
        entry: npm run format --prefix web
        language: system
        files: ^web/
        pass_filenames: false
